<nav class="navbar is-dark is-centered is-fullwidth"
  #stickyMenu
  [class.sticky] = "sticky" 
  (scroll)="onWindowScroll($event);">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/images/logo.png" alt="DominioWeb.com.mx logo">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{hostname}}">Home</a>
      <a class="navbar-item" href="{{hostname}}#ABOUT">About</a>
      <a class="navbar-item" href="{{hostname}}#FEATURES">Services</a>
      <a class="navbar-item" href="{{hostname}}#CONTACT">Contact</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/es-es/">Spanish</a>
          <a class="navbar-item" routerLink="users">Users</a>
          <a class="navbar-item" routerLink="blog">Blog</a>
          <hr class="navbar-divider">
          <a class="navbar-item" routerLink="contact">Contact Form</a>
        </div>
      </div>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
