<!--<footer class="footer"></footer>-->
<section class="hero is-small is-dark subscribe parallax">
  <div id="container">
  </div>
</section>
<section class="hero is-small is-dark is-footer">
  <div class="hero-body">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p class="copy_right_text">Copyright © 2020 <br><span>Por </span><a href="http://dominioweb.com.mx/">DOMINIOWEB</a></p>
      </div>
      <div class="column">
        <div class="scroll_top">
          <a href="{{currentURL}}#first_section"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>